body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

header {
    background-color: gray;
    color: antiquewhite;
    padding: 10px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid rgb(147, 175, 193);
    border-radius: 2px;
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

div {
    color: bisque;
}

/* Parent divs */
.carry {
    flex: 1;
    flex-direction: column;
    border: 1px solid #ccc;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.comp {
    flex: 1;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
}

/* Child divs */
#champ {
    flex: 2;
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color: rgb(144, 138, 131);
    background-color: #2e383e;
    width: 160px;
    height: 180px;
    margin: 0 auto;
    border-radius: 10px;
}

#items-container {
    flex: 1;
    text-align: center;
    justify-content: center;
    background-color: #3f474e;
    height: 150px;
    width: 300px;
    border-radius: 10px;
}

.team {
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.team-champ {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    color: gray;
    color: beige;
}

#trait {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 10px;
}