@font-face {
    font-family: 'LOL';
    src: url('font/LOL.otf') format('opentype');
}

body {
    font-family: 'LOL', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(32, 31, 31);
}

main {
    padding: 20px;
    text-align: center;
}

header {
    background-color: gray;
    color: antiquewhite;
    padding: 10px;
    text-align: center;
}

.button {
    appearance: none;
    background-color: rgb(95, 91, 91);
    border-radius: 20px;
    border-style: none;
    box-shadow: rgb(50, 49, 49) 0 -12px 6px inset;
    box-sizing: border-box;
    color: #b7b6b6;
    cursor: pointer;
    display: inline-block;
    font-family: "LOL", sans-serif;
    font-size: large;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 50px
  }
  
  .button:hover {
    background-color: #7c7e7e;
    box-shadow: #2c2d2d 0 -6px 8px inset;
    transform: scale(1.125);
  }
  
  .button:active {
    transform: scale(1.025);
  }
  
  @media (min-width: 768px) {
    .button {
      font-size: 1.5rem;
      padding: .75rem 2rem;
    }
    }

.carry {
    flex: 1;
    flex-direction: column;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

#champ {
    flex: 2;
    text-align: center;
    font-family: 'LOL', sans-serif;
    font-size: xx-large;
    color: rgb(144, 138, 131);
    background-color: #2e383e;
    width: 400px;
    height: 180px;
    margin: 0 auto;
    border-radius: 10px 10px 0 0 ;
    padding: 10px 0;
}

#items-container {
    flex: 1;
    text-align: center;
    justify-content: center;
    background-color: #3f474e;
    height: 150px;
    width: 400px;
    border-radius: 0 0 10px 10px;
    font-family: 'LOL';
    font-size: large;
    display: flex;
}

#trait {
    flex: 1;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 10px 0;
    text-align: center;
    font-family: 'LOL', sans-serif;
    font-size: larger;
    color: rgb(205, 195, 181);
}

.item {
    flex: 1;
    padding: 10px;
    color: rgb(146, 144, 141);
}

.item > img {
    width: 40px;
    height: auto;
}